



#clase1
		{
			width: 100%;
			
			
		}


div {
	width: auto;
	overflow: auto;
	border: 1px solid #666;
	background-color: #ccc;
	padding: 8px;
}


#pagina,#lista,#titulo,#algoritmo,#codigo,#grupos
{
	color:orange;
	
}

#tema,#importante,#importantep
{
	color:red;
	
}

#autor,#usuario,#consejos,#juego1,#adpriz,#faq,#terminos,#pasos,#despedida
{
	color:green;
	
}
#nivel,#daniel
{
	color:blue;
	
}




		
		






